<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>二手房信息统计</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url('css/offcanvas.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ static_url('js/html5shiv.js') }}"></script>
      <script src="{{ static_url('js/respond.min.js') }}"></script>
    <![endif]-->
        <script src="{{ static_url('js/jquery.min.js') }}"></script>
        <script src="{{ static_url('js/highcharts.js') }}"></script>
        <script src="{{ static_url('js/exporting.js') }}"></script>
        <script src="{{ static_url('js/sand-signika.js') }}"></script>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">上海二手房信息图表</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">地区选择 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                    <li><a href="/view/sh/all">上海全区</a></li>
                    <li><a href="/view/sh/zhabei">闸北区</a></li>
                    <li><a href="/view/sh/jiading">嘉定区</a></li>
                    <li><a href="/view/sh/songjiang">松江区</a></li>
                    <li><a href="/view/sh/pudongxinqu">浦东新区</a></li>
                    <li><a href="/view/sh/xuhui">徐汇区</a></li>
                    <li><a href="/view/sh/chongming">崇明区</a></li>
                    <li><a href="/view/sh/jingan">静安区</a></li>
                    <li><a href="/view/sh/hongkou">虹口区</a></li>
                    <li><a href="/view/sh/qingpu">青浦区</a></li>
                    <li><a href="/view/sh/jinshan">金山</a></li>
                    <li><a href="/view/sh/yangpu">杨浦区</a></li>
                    <li><a href="/view/sh/changning">长宁区</a></li>
                    <li><a href="/view/sh/minhang">闵行区</a></li>
                    <li><a href="/view/sh/huangpu">黄浦区</a></li>
                    <li><a href="/view/sh/putuo">普陀区</a></li>
                    <li><a href="/view/sh/fengxian">奉贤区</a></li>
                    <li><a href="/view/sh/baoshan">宝山区</a></li>
                    <li><a href="/view/sh/shanghaizhoubian">上海周边</a></li>
              </ul>
            </li>
          </ul>

      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
                <div style="height: 30px;">
                    <ol class="breadcrumb">
                      {% if city == "sh" %}
                        <li>上海</li>
                      {% end %}

                      {% if area == "all" %}
                        <li>上海全区</li>
                      {% elif area == "zhabei" %}
                        <li>闸北区</li>
                      {% elif area == "jiading" %}
                        <li>嘉定区</li>
                      {% elif area == "songjiang" %}
                        <li>松江区</li>
                      {% elif area == "pudongxinqu" %}
                        <li>浦东新区</li>
                      {% elif area == "xuhui" %}
                        <li>徐汇区</li>
                        {% elif area == "chongming" %}
                        <li>崇明区</li>
                        {% elif area == "jingan" %}
                        <li>静安区</li>
                        {% elif area == "hongkou" %}
                        <li>虹口区</li>
                        {% elif area == "qingpu" %}
                        <li>青浦区</li>
                        {% elif area == "jinshan" %}
                        <li>金山区</li>
                        {% elif area == "yangpu" %}
                        <li>杨浦区</li>
                        {% elif area == "changning" %}
                        <li>长宁区</li>
                        {% elif area == "minhang" %}
                        <li>闵行区</li>
                        {% elif area == "huangpu" %}
                        <li>黄浦区</li>
                        {% elif area == "putuo" %}
                        <li>普陀区</li>
                        {% elif area == "fengxian" %}
                        <li>奉贤区</li>
                        {% elif area == "baoshan" %}
                        <li>宝山区</li>
                        {% elif area == "shanghaizhoubian" %}
                        <li>上海周边区域</li>
                        {% else %}
                        <li>未知</li>
                      {% end %}
                    </ol>
                </div>
                <div style="height: 20px;"></div>
                <div id="sh_total_dealed_graph" style="min-width: 400px;height: 400px;"></div>
                <div style="height: 50px;"></div>
                <div id="avg_price_graph" style="min-width: 400px;height: 400px;"></div>
                <div style="height: 50px;"></div>
                <div id="on_sale_graph" style="min-width: 400px;height: 400px;"></div>
                <div style="height: 50px;"></div>
                <div id="sold_in_90_graph" style="min-width: 400px;height: 400px;"></div>
                <div style="height: 50px;"></div>
                <div id="yesterday_check_num_graph" style="min-width: 400px;height: 400px;"></div>
          </div>

        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <!-- Single button -->
            <div class="btn-group">
              <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                地区选择 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/view/sh/all">上海全区</a></li>
                <li><a href="/view/sh/zhabei">闸北区</a></li>
                <li><a href="/view/sh/jiading">嘉定区</a></li>
                <li><a href="/view/sh/songjiang">松江区</a></li>
                <li><a href="/view/sh/pudongxinqu">浦东新区</a></li>
                <li><a href="/view/sh/xuhui">徐汇区</a></li>
                <li><a href="/view/sh/chongming">崇明区</a></li>
                <li><a href="/view/sh/jingan">静安区</a></li>
                <li><a href="/view/sh/hongkou">虹口区</a></li>
                <li><a href="/view/sh/qingpu">青浦区</a></li>
                <li><a href="/view/sh/jinshan">金山</a></li>
                <li><a href="/view/sh/yangpu">杨浦区</a></li>
                <li><a href="/view/sh/changning">长宁区</a></li>
                <li><a href="/view/sh/minhang">闵行区</a></li>
                <li><a href="/view/sh/huangpu">黄浦区</a></li>
                <li><a href="/view/sh/putuo">普陀区</a></li>
                <li><a href="/view/sh/fengxian">奉贤区</a></li>
                <li><a href="/view/sh/baoshan">宝山区</a></li>
                <li><a href="/view/sh/shanghaizhoubian">上海周边</a></li>
              </ul>
            </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="{{ static_url('js/jquery-1.8.3.min.js') }}"></script>-->
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static_url('js/ie10-viewport-bug-workaround.js') }}"></script>

    <script src="{{ static_url('js/offcanvas.js') }}"></script>
    <script>
        $(function () {
            function formatDate(timestamp_v) {
                  var now = new Date(parseFloat(timestamp_v)*1000);
                  var   year=now.getFullYear();
                  var   month=now.getMonth()+1;
                  var   date=now.getDate();
                  var   hour=now.getHours();
                  var   minute=now.getMinutes();
                  var   second=now.getSeconds();
                  return   year+"-"+month+"-"+date+"   "+hour+":"+minute+":"+second;

            };


            var category_source = {{ cata_list }};
            var data_source = {{ data_list }};
            var category_processed = new Array();
            for(var i=0; i<category_source.length;i++){
                category_processed[i]= formatDate(category_source[i]);
            };

            var area_date_source = {{ area_date_list }};
            var area_data_source = {{ area_data_list }};
            var area_date_list_processed = new Array();
            for(var i=0; i<area_date_source.length;i++){
                area_date_list_processed[i]= formatDate(area_date_source[i]);
            };

            var area_on_sale_list = {{ area_on_sale_list }};
            var area_on_sale_list_processed = new Array();
            for(var i=0; i<area_on_sale_list.length;i++){
                area_on_sale_list_processed[i] = new Array();
                area_on_sale_list_processed[i][0]= formatDate(area_on_sale_list[i][0]);
                area_on_sale_list_processed[i][1]= area_on_sale_list[i][1];
            };

            var area_sold_in_90_list = {{ area_sold_in_90_list }};

            var area_yesterday_check_num = {{ area_yesterday_check_num }};

            function DrawGraph(category_processed,data_source,area_date_list_processed,
            area_data_source,area_on_sale_list_processed,area_sold_in_90_list,area_yesterday_check_num) {
                $('#sh_total_dealed_graph').highcharts({
                            title: {
                                text: '上海房屋成交总量',
                                x: -20 //center
                            },
                            subtitle: {
                                text: 'Source: lianjia.com',
                                x: -20
                            },
                            xAxis: {
                                  categories: category_processed
                            },
                            yAxis: {
                                title: {
                                    text: '成交量 '
                                },
                                plotLines: [{
                                    value: 0,
                                    width: 1,
                                    color: '#808080'
                                }]
                            },
                            tooltip: {
                                valueSuffix: '套'
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            series: [{
                                name: '上海二手房成交总量',
                                data: data_source
                            }]

                        });


                        $('#avg_price_graph').highcharts({
                            title: {
                                text: '二手房均价',
                                x: -20 //center
                            },
                            subtitle: {
                                text: 'Source: lianjia.com',
                                x: -20
                            },
                            xAxis: {
                                  categories: area_date_list_processed
                            },
                            yAxis: {
                                title: {
                                    text: '均价 '
                                },
                                plotLines: [{
                                    value: 0,
                                    width: 1,
                                    color: '#808080'
                                }]
                            },
                            tooltip: {
                                valueSuffix: '元／平'
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            series: [{
                                name: '城市挂牌均价',
                                data: area_data_source
                            }]

                        });

                        $('#on_sale_graph').highcharts({
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: '在售房源'
                            },
                            subtitle: {
                                text: 'Source: lianjia.com'
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '二手房源 (套)'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            tooltip: {
                                pointFormat: '在售房源: <b>{point.y:.1f} 套</b>'
                            },
                            series: [{
                                name: 'on_sale_graph',
                                data: area_on_sale_list_processed,
                                dataLabels: {
                                    enabled: true,
                                    rotation: -90,
                                    color: '#FFFFFF',
                                    align: 'right',
                                    format: '{point.y:.1f}', // one decimal
                                    y: 10, // 10 pixels down from the top
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            }]
                        });

                        $('#sold_in_90_graph').highcharts({
                            title: {
                                text: '近90天成交量',
                                x: -20 //center
                            },
                            subtitle: {
                                text: 'Source: lianjia.com',
                                x: -20
                            },
                            xAxis: {
                                  categories: area_date_list_processed
                            },
                            yAxis: {
                                title: {
                                    text: '成交量 '
                                },
                                plotLines: [{
                                    value: 0,
                                    width: 1,
                                    color: '#808080'
                                }]
                            },
                            tooltip: {
                                valueSuffix: '套'
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            series: [{
                                name: '近90天成交量',
                                data: area_sold_in_90_list
                            }]

                        });

                        $('#yesterday_check_num_graph').highcharts({
                            title: {
                                text: '昨日带看(次)',
                                x: -20 //center
                            },
                            subtitle: {
                                text: 'Source: lianjia.com',
                                x: -20
                            },
                            xAxis: {
                                  categories: area_date_list_processed
                            },
                            yAxis: {
                                title: {
                                    text: '带看次数 '
                                },
                                plotLines: [{
                                    value: 0,
                                    width: 1,
                                    color: '#808080'
                                }]
                            },
                            tooltip: {
                                valueSuffix: '次'
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            series: [{
                                name: '昨日带看',
                                data: area_yesterday_check_num
                            }]

                        });
            };

            DrawGraph(category_processed,data_source,area_date_list_processed,
            area_data_source,area_on_sale_list_processed,area_sold_in_90_list,area_yesterday_check_num);

        });
    </script>
  </body>
</html>
